@font-face {
    font-family: 'InterBold';
    src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'InterSemiBold';
    src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  }

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: hsl(0, 0%, 12%);
    width: 1440px;
    max-width: 300px;
    min-width: 250px;
    height: auto;
    border-radius: 10px;
    padding: 30px 5px;
    margin: 10px;
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ProfilePicture {
    width: 80px;
    border-radius: 100%;
    margin: 10px;
}
.Header h1 {
    font-family: 'InterBold', sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 0px 0px;
    margin: 5px 0px;
}

.Header p {
    font-family: 'InterSemiBold', sans-serif;
    text-align: center;
    color: hsl(75, 94%, 57%);
    margin: 5px 0px;
    font-size: 14px;
}
.Description {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 14px;
    font-size: 12px;
}
.Links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.PrimaryButton {
    font-family: 'InterSemiBold', sans-serif;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 250px;
    font-size: 13px;
}

.PrimaryButton:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 44%);
}

